<textarea name="list" form="list-form" rows="40" cols="150" style="font-size: 16px"></textarea>

<form action="/evaluator" id="list-form" method="get" >
  <input type="submit" value="Submit">
</form>

<%= @value %>
